

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


        <bean id="dev" class="org.demo.Dev" autowire="byName">
          <!--  <property name="lap" ref="lap"/>  -->
           <!-- <constructor-arg ref="des" /> -->
        </bean>

        <bean id ="com1" class="org.demo.laptop" >
        </bean>

        <bean id ="com" class="org.demo.desktop" >
        </bean>

</beans>